layout {
    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {

            format_left  "{mode} #[fg=#cdd6f4,bold,bg=#585b70]{session} {tabs}"
            format_space ""

            border_enabled  "true"

            tab_normal   "#[fg=#928374] {name} "
            tab_active   "#[fg=#cdd6f4,bold,bg=#585b70] {name} "

        }
    }

    pane

    //pane size=2 borderless=true {
        //plugin location="zellij:status-bar"
    //}
}
